* {
  margin-top: 0;
}
*::after,
*::before,
*{
  box-sizing: border-box;
}
html,
body,
#root {
  height: 100%;
}
main {
  flex-shrink: 0;
}
footer {
  margin-top: auto;
}
#root {
  display: flex;
  flex-direction: column;
}

body {
  font-family: "Nunito", sans-serif;
  line-height: 1.2;
  font-size: 1rem;
  margin: 0;
}
@import "style/icons/icons";

.block {
  padding: 3rem 0;
  &__title {
    &--inner {
      font-size: 3.25rem;
      font-weight: 700;
      margin-bottom: 1rem;
    }
  }
  &__content{
    margin-bottom: 1.25rem;
  }
  &--signin{
    background:#f3f3f6;
  }
}

.form{
  background: #fff;
  box-shadow: 0 0 35px 0 rgb(154 161 171 / 15%);
  border-radius: 5px;
  padding: 30px;
  max-width: 500px;
  margin: 0 auto;
  &__control{
    display: block;
    height: calc(1.5em + .75rem + 8px);
    padding: 0.375rem 0.75rem;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    width: 100%;
  }
  &__group{
    margin-bottom: 1.25rem;
  }
  &__title{
    text-align: center;
    font-size: 2rem;
  }
}