* {
  margin-top: 0;
}
*::after,
*::before {
  box-sizing: border-box;
}
html,
body,
#root {
  height: 100%;
}
main {
  flex-shrink: 0;
}
footer {
  margin-top: auto;
}
#root {
  display: flex;
  flex-direction: column;
}

body {
  font-family: "Nunito", sans-serif;
  line-height: 1.2;
  font-size: 1rem;
  margin: 0;
}
@import "style/icons/icons";

.block {
  padding: 3rem 0;
  &__title {
    &--inner {
      font-size: 3.25rem;
      font-weight: 700;
      margin-bottom: 1rem;
    }
  }
  &__content{
    margin-bottom: 1.25rem;
  }
}
